$def with (form, title, rendertime, smoketimestr, meattemp, smokertemp, manmode, servoangle, doorangle, targetmeat, targetsmoker)
<!doctype html>
<html>
    <head>
        <title>$title</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head> 
    <body>
        <br />
        <form action="" class="form" method="post">	
        $:form.render()
        </form>
		<br/>
		<p>As of: $rendertime :</p>
		<p>$smoketimestr</p>
		<p>$targetmeat</p>
		<p>Meat probe temperature:   $meattemp degrees (F).</p>
		<p>$targetsmoker</p>
		<p>Smoker probe temperature: $smokertemp degrees (F).</p>  
		<p>$manmode</p>
		<p>Servo angle: $servoangle degrees.</p>
		<p>Door angle: $doorangle degrees open.</p>
	</body>  
</html>